nav
  .container
    a.logo(href="/") TRANSLI
    ul.nav-links
      li: a(href="/") Home
      li: a(href="/transli") Translate
      li: a(href="/about") About
      li: a(href="/contact") Contact
    .nav-actions
      a.btn.btn-outline(href="/login" style="margin-right: 10px") Login
      a.btn.btn-primary(href="/registration") Register